// ===================================
// Root object
$body-text: 14px;
$body-font-family: 'Montserrat';

// ===================================
// Color
$color-primary: #EC3337;
$color-softdark: #292e35;
$color-dark: #1e232a;
$color-strongdark: #15191e;
$color-ultradark: #000;
$color-light: #fff;
$color-text: #e5e5e5;

// ===================================
// Grid system
$gutter: 1rem;