.header {
  background-color: #0C193C;
}

.hero-header {
  background: no-repeat center top;
  background-size: cover;
  position: relative;
  font-size: 1rem;
  line-height: 1.36;
  z-index: 0;
  min-height: 500px;

  &::after {
    content: '';
    background: rgba($color-ultradark, .3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    position: absolute;
  }

  .highlight {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    background: rgba($color-ultradark, .5);
    z-index: 2;
  }

  .stat {
    display: flex;
    align-items: center;

    .stat-item {
      font-weight: 500;
      font-size: calcRem(12px);
      color: rgba($color-light, .7);

      b {
        color: $color-light;
      }

      &:not(:last-child) {
        margin-right: 30px;
        padding-right: 30px;
        border-right: 1px solid rgba($color-light, .2);
      }
    }
  }

  .rating {
    display: flex;
    align-items: center;
    margin-right: 20px;

    span {
      font-weight: 600;
      font-size: calcRem(36px);
      margin-left: 5px;
    }
  }
}